In [1]:
import pandas as pd

In [2]:
file = "Master Global Popular Tracks.csv"
file_df = pd.read_csv(file, header=None)
file_df.head()

,0,1,2,3,4,5,6,7,8,9
0,Position,URL,Track Name,Artist,Streams,Genre,Country Code,Country_Name,Lat,Lon
1,1,0d2iYfpKoM0QCKvcLCkBao,Eastside (with Halsey & Khalid),benny blanco,298178,Pop,AU,AUSTRALIA,-25.274398,133.775136
2,2,3EPXxR3ImUwfayaurPi3cm,Be Alright,Dean Lewis,272653,Songwriter,AU,AUSTRALIA,-25.274398,133.775136
3,3,2G7V7zsVDxg1yRsu7Ew9RJ,In My Feelings,Drake,249405,Hip-Hop/Rap,AU,AUSTRALIA,-25.274398,133.775136
4,4,5WvAo7DNuPRmk4APhdPzi8,No Brainer,DJ Khaled,210002,Hip-Hop,AU,AUSTRALIA,-25.274398,133.775136

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///masterdata.sqlite', echo=False)

In [4]:
file_df.to_sql(name='master_data',index=False,con=engine,if_exists='append')